/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

snack-bar-container.sucess
{
    background-color: green;
    color: white;
}

snack-bar-container.warn
{
    background-color: red;
    color: white;
}

sanack-bar-container.notification simple-snack-bar
{
    font-size: 18px !important;
    font-weight: bold;
}
