<mat-toolbar>
    <span>{{service.form.controls['id'].value?"Modify Opportunity":"New Opportunity"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>  
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
<mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
        <div class="controls-container">
            <input type="hidden" formControlname="id">
            <mat-form-field>
                <input formControlName="opportunity_name" matInput  placeholder="Opportunity Name*">
                <mat-error>This field is Mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="hiring_manager" matInput  placeholder="Hiring Manager*">
                <mat-error>This field is Mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="skill" matInput placeholder="Skills*">
                <mat-error>This field is Mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="creator" matInput  placeholder="Creator*">
                <mat-error>This field is Mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="creator_email" matInput  placeholder="Creator Email*">
                <mat-error *ngIf="service.form.controls['creator_email'].errors?.email">Invalid Emailid.</mat-error>
                <mat-error *ngIf="service.form.controls['creator_email'].errors?.requird">This field is Mandatory.</mat-error>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="controls-container">
     
            <mat-form-field>
                <mat-select [formControlName]="'experience'" (selectionChange)="onExperience($event)" placeholder="Experience*">
                    <mat-option *ngFor="let e of experience" [value]="e">{{e}}</mat-option>
                </mat-select>
                <mat-error *ngIf="" >This field is Mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select [formControlName]="'job_location'" (selectionChange)="onLocation($event)" placeholder="Job Location*">
                    <mat-option *ngFor="let l of location" [value]="l">{{l}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mr-sm-24" fxFlex  >
                <input matInput [matDatepicker]="picker" placeholder="Joining Date*" autocomplete="off" [(ngModel)]="jd" name="date" formControlName="joining_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker   #picker></mat-datepicker>
             </mat-form-field>
             
             <mat-form-field class="mr-sm-24" fxFlex  >
                <input matInput [matDatepicker]="picker1" placeholder="Updated Date*" autocomplete="off" [(ngModel)]="ud" name="date" formControlName="updated_date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker   #picker1></mat-datepicker>
             </mat-form-field>
            <div>
                <button mat-raised-button color="primary" [disabled]="service.form.invalid" >Submit</button>
                <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
</form>