.example-spacer
{
    flex: 1 1;
}
.example-spacer1
{
        padding-right: 10px;
}
mat-button
{
    padding-left: 5px;
    padding-right: 5px;
}

mat-card
{
  text-align: center;
  text-decoration: solid;
  font-size: large;
  font-weight: 300;
}
.grid{
  width: 100px;
  padding: 2px;
  margin:10px;

}
.card{
  width: auto;
  padding: 2px;
  margin:10px;

}